/*  Colors */
$my-yellow: #ffc107;
$pearl-white: #f8f8ff;
$white: #ffffff;
$black: #000000;
$light-black: #212529;
$my-grey: #4e555b;
$box-shadow-light: rgba(0, 0, 0, 0.16);
$box-shadow-normal: rgba(0, 0, 0, 0.23);
$box-shadow-dark: rgba(0, 0, 0, 0.5);
